/packages/*/dist
/dist

.solid
.output
.vercel
.netlify
netlify

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
tsconfig.tsbuildinfo
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
