@use 'sass:color';
@use '../palette.scss';

$primaryColor: #3f45d4;
$dangerColor: #7d248a;
$textHighlight: #6f6fcf66;

.dm-theme-dark {
  // Flat surfaces - page, card, modal, header
  --dm-color-elevation-0: #{palette.$coolgray900};
  --dm-color-elevation-1: #{palette.$coolgray850};
  --dm-color-elevation-2: #{palette.$coolgray800};

  // "Wells" are interactive regions such as input, list box, etc.
  --dm-color-field-bg: #{palette.$coolgray800};
  --dm-color-field-border: #{palette.$coolgray600};
  --dm-color-field-border-slight: #{palette.$coolgray700};
  --dm-color-field-hover-border: #{palette.$coolgray600};

  //     textLink: colord(primaryColor).lighten(0.15).toHex(),

  // Text colors
  --dm-color-text: #{palette.$coolgray200};
  --dm-color-text-dim: #{palette.$coolgray500};
  --dm-color-text-selection: #{palette.$white};
  --dm-color-text-selection-bg: #{$textHighlight};
  --dm-color-text-link: colord(primaryColor) .darken(0.2) .desaturate(0.3) .toHex();

  // Severities
  --dm-color-success-text: #aea;
  --dm-color-success-icon: #4a4;
  --dm-color-success-bg: #223322;
  --dm-color-info-text: #bbf;
  --dm-color-info-icon: #66e;
  --dm-color-info-bg: #333355;
  --dm-color-warning-text: #eea;
  --dm-color-warning-icon: #a80;
  --dm-color-warning-bg: #333322;
  --dm-color-error-text: #fbb;
  --dm-color-error-icon: #d00;
  --dm-color-error-bg: #332222;

  // Colors for selected items (menus, list rows)
  --dm-color-item-hover-bg: #{color.change(palette.$coolgray400, $alpha: 0.1)};
  --dm-color-item-focus-bg: #{palette.$coolgray700};
  --dm-color-item-selected-text: #{palette.$white};
  --dm-color-item-selected-bg: #{$primaryColor};

  // Various dynamic colors
  --dm-color-focus: #8183ff88;
  --dm-color-shadow: #{palette.$black};
  --dm-color-backdrop: #{color.change(palette.$black, $alpha: 0.3)};

  --dm-color-btn-bg: #{palette.$coolgray800};

  // Buttons (also used by some other controls such as checkbox and radio)
  --dm-color-btn-primary: #{$primaryColor};
  --dm-color-btn-primary-text: #{color.adjust($primaryColor, $lightness: 40%)};
  --dm-color-btn-primary-text-dim: #{color.adjust($primaryColor, $lightness: 25%)};

  --dm-color-btn-danger: #{$dangerColor};
  --dm-color-btn-danger-text: #{color.adjust($dangerColor, $lightness: 40%)};
  --dm-color-btn-danger-text-dim: #{color.adjust($dangerColor, $lightness: 25%)};

  --dm-color-btn-selected: #{palette.$coolgray600};
  --dm-color-btn-selected-contrast: #{palette.$coolgray100};
  --dm-color-btn-selected-contrast-dim: #{palette.$coolgray200};

  // Scrollbars
  --dm-color-scrollbar: #{color.change(palette.$coolgray500, $alpha: 0.2)};
  --dm-color-scrollbar-inactive: #{color.change(palette.$coolgray500, $alpha: 0.1)};

  // Slider
  --dm-color-slider-fill: #{palette.$coolgray750};

  // Toggle switches
  --dm-color-toggle-fill: #{palette.$gray150};
  --dm-color-toggle-fill-checked: #77dd77;
  --dm-color-toggle-slide-fill: linear-gradient(
      to bottom,
      $palette.$gray50 0%,
      $palette.$gray200 100%
    );

  // Tooltips have their own color scheme, also used by callouts.
  --dm-color-tooltip-bg: #{palette.$black};
  --dm-color-tooltip-text: #{palette.$coolgray300};
}

//     toggleFill: palette.coolgray700,
//     toggleFillChecked: '#118811',
//     toggleSlideFill: `linear-gradient(to bottom, ${palette.coolgray100} 0%, ${palette.coolgray300} 100%)`,
