@use 'sass:map';
@use '../defs.scss';

@layer ui-base {
  .dm-aside {
    @include defs.scrollbars();

    background-color: var(--dm-color-elevation-1);
    box-shadow: 0 0 2px 0 var(--dm-color-shadow);
    padding: map.get(defs.$space, 'lg');
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    z-index: defs.$zSidebar;
  }
}
