@use 'sass:map';
@use '../defs.scss';

@layer ui-base {
  .dm-badge {
    align-items: center;
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0.7em;
    white-space: nowrap;

    height: 1.1rem;
    font-size: 0.7rem;
  }
}

@layer ui-variants {
  .dm-badge {
    @each $sz, $value in defs.$size {
      &.dm-size-#{$sz} {
        height: map.get(defs.$size, $sz) * 1.1rem;
        font-size: map.get(defs.$fontSize, $sz) * 0.7rem;
      }
    }

    &.dm-radius-xl {
      border-radius: 32px;
    }
    &.dm-radius-lg {
      border-radius: 0.5em;
    }
    &.dm-radius-md {
      border-radius: 0.3em;
    }
    &.dm-radius-sm {
      border-radius: 2px;
    }
    &.dm-radius-xs {
      border-radius: 1px;
    }
  }
}
