@layer ui-base {
  .dm-button-group {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
  }
}

@layer ui-variants {
  .dm-button-group {
    & > .dm-button:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    & > .dm-button:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: rgba(0, 0, 0, 0.15);
    }
  }
}
