@use '../defs.scss';

@layer ui-base {
  .dm-code {
    font-family: var(--dm-font-mono);
    font-size: 1rem;
  }

  pre.dm-code {
    margin: 0;
  }
}

@layer ui-variants {
  .dm-code {
    @each $sz, $value in defs.$size {
      &.dm-size-#{$sz} {
        font-size: $value * 1rem;
      }
    }
  }
}
