@use 'sass:map';
@use '../defs.scss';

@layer ui-base {
  .dm-empty-result {
    @include defs.fontSize('sm');

    font-family: var(--dm-font-body);
    font-style: italic;
    color: var(--dm-color-text-dim);
  }
}
