@use '../defs.scss';

@layer ui-base {
  .dm-nav-item,
  .dm-nav-link,
  .dm-nav-group,
  .dm-nav-subgroup {
    align-items: center;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0 4px 0 12px;
    outline: none;
  }

  .dm-nav-link {
    font-size: defs.fontSize('sm');
    color: var(--dm-color-text);
    text-decoration: none;
    --icon-color: var(--dm-color-text-dim);
    padding-left: 20px;
    height: defs.size('md') * 2;
  }

  .dm-nav-link-title {
    flex: 1;
  }

  .dm-nav-arrow {
    width: 16;
    height: 16;
    visibility: hidden;
    --icon-color: var(--dm-color-text-dim);
  }

  .dm-nav-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24;
    height: 24;
    margin-right: 4px;
  }

  .dm-nav-group {
    font-size: defs.fontSize('lg');
    color: var(--dm-color-text);
    padding: 0 0 2px 0;
    font-weight: bold;
    margin: 8px 12px 4px 12px;
  }

  .dm-nav-subgroup {
    font-size: defs.fontSize('sm');
    color: var(--dm-color-text-dim);
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .dm-nav {
    align-items: stretch;
    color: var(--dm-color-text);
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}

@layer ui-states {
  .dm-nav-link {
    &:hover:not([aria-disabled]):not([aria-current]) {
      background-color: var(--dm-color-item-hover-bg);

      .dm-nav-arrow {
        width: 16;
        height: 16;
        visibility: visible;
      }
    }

    &[aria-current] {
      background-color: var(--dm-color-item-selected-bg);
      color: var(--dm-color-item-selected-text);
      --icon-color: var(--dm-color-item-selected-text);
    }

    &:focus:focus-visible {
      box-shadow: 0 0 1px 3px var(--dm-color-focus);
      z-index: defs.$zFocused;
    }

    &[aria-disabled] {
      opacity: 0.6;
    }
  }
}
