@use '../defs.scss';

@layer ui-base {
  .dm-text {
    font-family: var(--dm-font-body);
    font-weight: normal;
    font-size: 1rem;
  }
}

@layer ui-variants {
  .dm-text {
    @include defs.fontSizeVariants();

    &.dm-dim {
      color: var(--dm-color-text-dim);
    }

    &.dm-em {
      font-style: italic;
    }

    &.dm-strong {
      font-weight: bold;
    }
  }
}
