.main {
  overflow: hidden;
  background-color: var(--dm-color-elevation-1);
}

.docs {
  padding: 0 12px;
  overflow-y: scroll;
  padding-bottom: 2rem;

  h1, h2, h3, p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  td, th {
    vertical-align: top;

    ul {
      margin: 0;
      padding: 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  li {
    margin-bottom: 6px;
  }

  code {
    font-family: var(--dm-font-mono);
    background-color: var(--dm-color-elevation-0);
  }
}

.docsContent {
  max-width: 50rem;
}