.demo {
  background-color: var(--dm-color-elevation-0);
  border-radius: 4px;
  box-shadow: 0 0 2px var(--dm-color-shadow);
  padding: 12px;
}

.shell {
  background-color: var(--dm-color-elevation-0);
  border-radius: 4px;
  box-shadow: 0 0 2px var(--dm-color-shadow);
  font-size: 0.9rem;
  padding: 4px 12px;
  margin: 0;
  > code {
    padding: 0 !important;
    background-color: transparent;
  }
}

.source {
  // box-shadow: 0 0 2px var(--dm-color-shadow);
  background-color: black;
  border-radius: 4px;
  padding: 12px;
  margin-top: 8px;
  font-size: 0.9rem;

  > pre {
    margin: 0;

    > code {
      padding: 0 !important;
      background-color: transparent;
    }
  }
}

.pageOutline {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--dm-color-field-border-slight);
}

.propsTable {
  margin-bottom: 1rem;
}

.propsTableName {
  min-width: 7rem;
}

.propsTableType {
  min-width: 8rem;
}

.docNav {
  margin-top: 2rem;
}

.docLink {
  text-decoration: none;
  color: var(--dm-color-text);

  &:hover {
    text-decoration: underline;
  }
}

.unionMember {
  list-style: '| ';
  white-space: nowrap;

  &:first-child {
    list-style: '  ';
  }
}