.demo {
  background-color: var(--dm-color-elevation-0);
  border-radius: 4px;
  box-shadow: 0 0 2px var(--dm-color-shadow);
  padding: 12px;
}

.source {
  // box-shadow: 0 0 2px var(--dm-color-shadow);
  background-color: black;
  border-radius: 4px;
  padding: 12px;
  margin-top: 8px;
  font-size: 0.9rem;

  > pre {
    margin: 0;

    > code {
      padding: 0 !important;
    }
  }
}

.pageOutline {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--dm-color-field-border-slight);
}
