.swatch {
  width: 192px;
  height: 20px;
  align-items: center;
  justify-content: start;
  display: flex;
  font-size: 10px;
  padding: 0 8px;
}

.name {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
}
