@layer ui-base, ui-variants, ui-states;
@import './flex.scss';

html {
  --dm-font-title: "Open Sans", Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --dm-font-body: "Open Sans", Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --dm-font-mono: "Source Code Pro", Consolas, Inconsolata, Menlo, monospace;
}
