$white: #ffffff;
$black: #000000;

$gray50: #f2f2f2;
$gray100: #e6e6e6;
$gray150: #d9d9d9;
$gray200: #cccccc;
$gray250: #bfbfbf;
$gray300: #b3b3b3;
$gray400: #999999;
$gray500: #808080;
$gray600: #666666;
$gray700: #4d4d4d;
$gray750: #404040;
$gray800: #333333;
$gray850: #262626;
$gray900: #1a1a1a;
$gray950: #0d0d0d;

$coolgray50: #eff2f5;
$coolgray100: #e0e6eb;
$coolgray150: #d0d9e1;
$coolgray200: #c1ccd7;
$coolgray250: #b1bfcd;
$coolgray300: #a2b3c3;
$coolgray400: #8399af;
$coolgray500: #63809c;
$coolgray600: #50667c;
$coolgray700: #3c4d5d;
$coolgray750: #32404e;
$coolgray800: #28333e;
$coolgray850: #1e262f;
$coolgray900: #141a1f;
$coolgray950: #0a0d10;

$warmgray50: #f3f2f1;
$warmgray100: #e8e6e3;
$warmgray150: #dcd9d6;
$warmgray200: #d0cdc8;
$warmgray250: #c4c0ba;
$warmgray300: #b9b3ac;
$warmgray400: #a19a91;
$warmgray500: #8a8175;
$warmgray600: #6e675e;
$warmgray700: #534d46;
$warmgray750: #45403b;
$warmgray800: #37342f;
$warmgray850: #292723;
$warmgray900: #1c1a17;
$warmgray950: #0e0d0c;
