@layer ui-base {
  .dm-button {
    align-items: center;
    appearance: none;
    border-color: rgba(0, 0, 0, 0.2); // Needed for ButtonGroup
    border-radius: 3px;
    border-style: solid;
    border-width: 0;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 0.4rem;
    justify-content: center;
    margin: 0;
    outline: none;
    white-space: nowrap;
  }

  &:focus:focus-visible {
    box-shadow: 0 0 1px 3px var(--dm-focus);
    z-index: $zFocused;
  }

  &[disabled] {
    opacity: 0.5;
  }

  // Button groups

  .dm-button-group > & {
    border-radius: 0;
    border-right-width: 1;
    border-right-style: solid;
  }

  .dm-button-group > &:first-child {
    border-radius: 3px 0 0 3px;
  }

  .dm-button-group > &:last-child {
    border-radius: 0 3px 3px 0;
    border-right-width: 0;
  }

}

@layer ui-variants {
  // .dm-button-size-xl {

  // }

  // variants: {
  //   size: {
  //     xl: buttonSize('xl');
  //     lg: buttonSize('lg');
  //     md: buttonSize('md');
  //     sm: buttonSize('sm');
  //     xs: buttonSize('xs');
  //     xxs: buttonSize('xxs');
  //     xxxs: buttonSize('xxxs');
  //   }

  .dm-button-color-default {
    color: var(--dm-btn-secondary-contrast);
    background-color: var(--dm-btn-secondary);
    &:hover:not([disabled]) {
      filter: contrast(85%) saturate(120%);
    }
    &:active:not([disabled]) {
      filter: brightness(0.8) contrast(110%);
    }
    --icon-color: var(--dm-btn-secondary-contrast-dim);
  }

  .dm-button-color-primary {
    color: var(--dm-btn-primary-text);
    background-color: var(--dm-btn-secondary-primary);
    &:hover:not([disabled]) {
      filter: 'brightness(1.15) contrast(130%)';
    }
    &:active:not([disabled]) {
      filter: 'brightness(1.3)';
    }
    --icon-color: var(--dm-btn-primary-text-dim);
  }

  .dm-button-color-danger {
    color: var(--dm-btn-danger-text);
    background-color: var(--dm-btn-danger);
    &:hover:not([disabled]) {
      filter: 'brightness(1.15) contrast(130%)';
    }
    &:active:not([disabled]) {
      filter: 'brightness(1.3)';
    }
    --icon-color: var(--dm-btn-danger-text-dim);
  }

  .dm-button-color-selected {
    background-color: var(--dm-btn-selected);
    border-color: var(--dm-btn-selected);
    color: var(--dm-btn-selected-contrast);
    --icon-color: var(--dm-btn-selected-contrast-dim);
  }

  .dm-button-color-subtle {
    background-color: 'transparent';
    border-color: 'transparent';
    color: var(--dm-btn-secondary-contrast);
    &:hover:not([disabled]) {
      background-color: var(--dm-item-hover-bg);
    }
    &:active:not([disabled]) {
      background-color: var(--dm-item-hover-bg);
      filter: 'brightness(0.9)';
    }
    --icon-color: var(--dm-btn-selected-contrast-dim);
  }

  // Used internally for menubuttons
  .dm-button-color-field {
    background-color: var(--dm-field-bg);
    border-color: var(--dm-field-border-slight);
    color: var(--dm-text);
    border-width: 1;
    --icon-color: var(--dm-text-dim);
  }

  .dm-button-round {
    border-radius: '500px';
  }

  .dm-button-icon {
    padding: 0;
    aspect-ratio: 1;
  }
}
